# 告诉 GitHub：这些是第三方库，不要计入语言统计
static/vendor/** linguist-vendored
static/css/bootstrap/** linguist-vendored
static/js/** linguist-vendored
static/scss/** linguist-vendored
static/fonts/** linguist-vendored